@model ApplicationCore.Entities.MovieCardModel

<div class="card h-100">
    <a href="/Movies/Details/@Model.Id">
        <img class="card-img-top" src="@Model.PosterUrl" alt="@Model.Title" />
    </a>
</div>
@*@model ApplicationCore.Entities.MovieCardModel

<div class="col-md-3 col-sm-6 mb-4">
    <div class="card h-100">
        <a href="/Movies/Details/@Model.Id">
            <img class="card-img-top" src="@Model.PosterUrl" alt="@Model.Title" />
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="/Movies/Details/@Model.Id">@Model.Title</a>
            </h4>
        </div>
    </div>
</div>

<div class="card h-100">
                    <a href="/Movies/Details/@movie.Id">
                        <img class="card-img-top" src="@movie.PosterUrl" alt="@movie.Title" />
                    </a>
                </div>
*@