@model ApplicationCore.Entities.Cast

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row my-4">
        <!-- Cast Details -->
        <div class="col-md-4">
            <img src="@Model.ProfilePath" class="img-fluid" alt="Cast Profile">
            <h2>@Model.Name</h2>
            <p>Gender: @(Model.Gender == "1" ? "Female" : Model.Gender == "2" ? "Male" : "Other")</p>
            <p><a href="@Model.TmdbUrl" target="_blank">TMDb Profile</a></p>
        </div>

        <!-- Movies Featuring the Cast -->
        <div class="col-md-8">
            <h3>Movies</h3>
            <ul class="list-group">
                @foreach (var movieCast in Model.MovieCasts)
                {
                    <li class="list-group-item">
                        <a href="/Movies/Details/@movieCast.Movie.Id">@movieCast.Movie.Title</a> as @movieCast.Character
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
